[MASTER]
extension-pkg-allow-list=

[MESSAGES CONTROL]
disable=
    C0103,
    C0301,
    R0903,
    R0801,
    C0114  # missing-module-docstring
enable=
    C0116  # missing-function-docstring

[BASIC]
good-names=i,j,k,ex,Run,_
